{% extends 'account/layout.html.twig' %}

{% block title %}
    {% trans %}Profile{% endtrans %}
{% endblock %}

{% block body %}
    <div class="p-5 text-center" style="display:none" id="alertCom">
        <div>
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">
                <div class="alert fade_info .fade" role="alert">
                    <h4 class="alert-heading">
                        <span>{% trans %}The comment section will be available soon
                            {% endtrans %}
                            <i class="fas fa-smile-wink"></i>
                        </span>
                    </h4>
                </div>
            </button>
        </div>
    </div>
    <div class="row justify-content-evenly mb-3 p-2">
<a href="{{path('app_account_profile')}} " class="btn btn-outline-success col-lg-3 p-3 mb-2" data-aos="fade-down" data-aos-duration="500">
            <span class="fs-1">{% trans %}See my profile
                {% endtrans %}
            </span>
            <i class="fas fa-eye fs-1 d-block"></i>
        </a>
<a href="{{path('app_account_edit')}} " class="btn btn-outline-danger col-lg-3 p-3 mb-2" data-aos="fade-left" data-aos-duration="500">

            <span class="fs-1">{% trans %}Edit my profile{% endtrans %}
            </span>
            <i class="fas fa-edit fs-1 d-block"></i>
        </a>
<a href="#" class="btn btn-outline-warning col-lg-3 p-3 mb-2 comments" data-aos="fade-up" data-aos-duration="500">

            <span class="fs-1">{% trans %}See my comments{% endtrans %}
            </span>
            <i class="fas fa-comments fs-1 d-block"></i>
        </a>
    </div>
{% endblock %}
