{% extends 'base.html.twig' %}
{% block title %}
    {% trans %}Password Reset Email Sent{% endtrans %}
{% endblock %}
{% block body %}
    {% embed "component/molecules/formDesign.html.twig" %}
        {% block form_content %}
            <p>
                {% trans %}
                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password. This link will expire in
                {% endtrans %}
                {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>{% trans %}If you don't receive an email please check your spam folder or{% endtrans %}
                <a href="{{ path('app_forgot_password_request') }}">{% trans %}try again{% endtrans %}</a>.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
