{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Reset your password{% endtrans %}
{% endblock %}
{% block body %}
    {% embed "component/molecules/formDesign.html.twig" %}
        {% block form_content %}
            <h1>{% trans %}Reset your password{% endtrans %}</h1>
            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            {# <button class="btn btn-primary">{% trans %}Reset password{% endtrans %}</button> #}
			{% include "component/atoms/form_validation.html.twig" with {
				buttonLabel : "Reset password"
			} %}
            {{ form_end(resetForm) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
