html {
    overflow-x: hidden;
}

nav.navbar {
    background-color: #043106;
}

/* Cacher / afficher le mot de passe */
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.container {
    padding-top: 50px;
    margin: auto;
}

h1 {
    font-family: 'Tangerine', cursive;
}

.text-site {
    color: #311f04;
}

.text-site-or {
    color: #d3c37b;
}

.dropdown {
    position: static !important;
}

.dropdown-menu {
    box-shadow: 0 .5rem 1rem #00000026!important;
    margin-top: 0px !important;
    width: 100% !important;
}

.dropdown-menu:hover {
    background-color: #a7b8a7
}

a {
    text-decoration: none;
    color: #d3c37b;
}

.active a {
    color: #0bac0b!important;
}

.form-error-message {
    text-align: center;
    color: #d419d4;
}

h1.inscription,
h1.connexion {
    color: #043106;
}

.button_philo {
    border: 2px solid #d3c37b;
    background-color: #043106;
}

.footer {
    /*  background-color: rgb(217, 224, 218); */
    color: #d3c37b;
}