:root {
    --h2color: #a0350a;
    --emcolor: #e06c00;
    --navbar-bg-color: #043106;
    --presentation-bg-color: #5d8b06;
}
html {
    overflow-x: hidden;
}
div.main{
    min-height: 80%;
}
table {
    font-size: 1.3vw;
}
.text-color-maisonphilo {
    color: var(--navbar-bg-color);
}
div.text {
    text-justify: inter-word;
}
.nav-text-maisonphilo {
    color: aliceblue !important;
}
nav img {
    max-height: 30px;
}
.text-h2-color {
    color: var(--h2color);
}
a.nav-link:hover {
    color: var(--h2color);
}

nav.navbar {
    background-color: var(--navbar-bg-color);
    color: aliceblue;
}
ul.dropdown-menu {
    font-size: 1em;
}
img.rounded-circle {
    max-width: 7vw;
}
/* Cacher / afficher le mot de passe */
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.container {
    padding-top: 50px;
    margin: auto;
}
div.presentation {
    background-image: url("../images/history-bg.png");
}
.presentation {
    background-size: cover;
    font-size: 2em;
}
.history-bg {
    background-image: url("../images/history-bg.png");
    background-size: cover;
}

.presentation span {
    color: aliceblue;
    font-size: 1.8vh;
}
.presentation em {
    color: var(--emcolor);
    font-size: 1.5vh;
}
.side {
    font-size: 3vh;
    color: var(--h2color);
    font-style: italic;
}

h1 {
    font-family: "Tangerine", cursive;
}

h2 {
    color: var(--h2color);
}

em {
    font-size: 1.3vw;
    color: var(--emcolor);
}
.text-site {
    color: #311f04;
}

.text-site-or {
    color: #d3c37b;
}

.dropdown {
    position: static !important;
}

.dropdown-menu {
    box-shadow: 0 0.5rem 1rem #00000026 !important;
    margin-top: 0px !important;
    width: 100% !important;
}

.dropdown-menu:hover {
    background-color: #a7b8a7;
}

a {
    text-decoration: none;
    color: #d3c37b;
}

.active a {
    color: #0bac0b !important;
}

.form-error-message {
    text-align: center;
    color: #d419d4;
}

h1.inscription,
h1.connexion {
    color: #043106;
}

.button-philo {
    border: 2px solid #d3c37b;
    background-color: #043106;
    color: aliceblue;
}

.footer {
    color: #d3c37b;
    font-size: 1.5vh;
    padding-bottom: 30px;
    min-height: 20%;
}
