{% extends 'base.html.twig' %}
{% block header %}
    <span class="btn">
        <i class="fas fa-arrow-circle-left fs-3 text-color-maisonphilo p-3" onclick="window.history.back()">
            {% trans %}Go Back{% endtrans %}
        </i>
    </span>

{% endblock %}
