{% extends 'base.html.twig' %}
{% block title %}
	{% trans %}New User{% endtrans %}
{% endblock %}
{% block body %}
	<h1>{% trans %}Create new User{% endtrans %}</h1> {{ include('admin/_form.html.twig') }}
	<a href="{{ path('admin_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
