<div class="footer text-center bg-light">

    <section class="footer2 text-center">
        <em class="fw-bold">
            &copy; SERVA Group</em>
        <a href="#">{% trans %}Plan du site{% endtrans %}</a>
        |<a href="">
            Mentions légales
        </a>|
        <a href="#">{% trans %}Terms of Sales{% endtrans %}</a>

    </section>


    <section class="row">
        <div class="text-center">
            <img src="{{asset('images/logo_maison_philo.png')}}" width="50vh" alt="logo du site" class="d-block mx-auto">
        </div>
        <div class="col row">
            <a class="col-12" href="#">Accès</a>
            |
            <a class="col-12" href="#">Contact</a>
            |
            <a class="col-12" href="#">Recrutement</a>
            |
            <a class="col-12" href="#">Presse</a>
            |
            <a class="col-12" href="#">Galerie</a>
            |
        </div>
        <div class="reseau col">
            <a href="#">
                <i class="fab fa-facebook-square fs-5"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter-square fs-5"></i>
            </a>
            <form action="" method="post">
                <div class="form-group">
                    <label class="inputEmail">Abonnement à notre newsletter :</label>
                </div>
                <div class="form-group">
                    <input type="email" class="emailNews" id="inputEmail" placeholder="Entrer votre email">
                </div>
                <input type="submit" class="btn button-philo text-light" value="Envoyer">

            </form>
        </div>
    </section>
</div>
