<div class="footer text-center bg-light" data-aos="fade-up" data-aos-duration="3000">

    <section class="footer2 text-center">
        <em class="fw-bold text-color-maisonphilo fs-5 d-block">
            &copy; SERV Group TN
        </em>
        <div class="mb-2">
            <a href="{{path('app_footer_map')}}">{% trans %}Plan du site |{% endtrans %}</a>
         
            <a href="{{path('app_footer_cgv')}}">{% trans %}Terms of Sales{% endtrans %}</a>
        </div>
    </section>
    <section class="row">
        <div class="text-center">
            <img src="{{asset('images/logo_maison_philo2.png')}}" width="50vh" alt="logo du site" class="d-block mx-auto">
        </div>
 
        <div class="reseau col">
            <a href="#">
                <i class="fab fa-facebook-square fs-5"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter-square fs-5"></i>
            </a>
            <form action="" method="post">
                <div class="form-group">
                    <label class="inputEmail">Abonnement à notre newsletter :</label>
                </div>
                <div class="form-group">
                    <input type="email" class="emailNews" id="inputEmail" placeholder="Entrer votre email">
                </div>
                <input type="submit" class="btn button-philo text-light" value="Envoyer">
            </form>
        </div>
    </section>
</div>
