<div class='col row justify-content-end' data-aos="fade-down-left" data-aos-duration="2000">
    {% for presentationContent in presentationContents %}
        <div class="col me-1 presentation">

            <span class="text-center d-block mt-5">
                {{presentationContent.header|trans}}
            </span>
            <span class="text-center d-block">
                {{presentationContent.body|trans}}
            </span>
            <em class="text-center d-block mt-3">
                {{presentationContent.footer|trans}}
        </em>

            <h2 class="text-center mt-3">{{presentationContent.title|trans}}
            </h2>

        </div>
    {% endfor %}
    
</div>
