<div class='col-lg row justify-content-end' data-aos="fade-down-left" data-aos-duration="2000">
    {% for presentationContent in presentationContents %}
        <div class="col me-1 presentation">
            <h2 class="ms-4">{{presentationContent.title|trans}}
            </h2>
            <span class="text-center d-block">
                {{presentationContent.header|trans}}
            </span>
            <span class="text-center d-block">
                {{presentationContent.body|trans}}
            </span>
            <em>
                {{presentationContent.footer|trans}}
            </em>
        </div>
    {% endfor %}
    <span class="side col-lg-12 text-center">Le vieillissement à venir est un défi supplémentaire auquel l'Afriquee doit se préparer</span>
</div>
