<div class="p-5 text-center" style="display:none" id="alertCom">
    <div>
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">
            <div class="alert fade_{{alert}} .fade" role="alert">
                <h4 class="alert-heading">
                    <span>{{message|trans}}
                        <i class="fas fa-{{icon}}"></i>
                    </span>
                </h4>
            </div>
        </button>
    </div>
</div>
