<div classs="container p-5 text-center text-color-maisonphilo">
    <div class="row no-gutters">
        <div class="offset-8 col-lg-4 col-md-12">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">
                <div class="alert fade_success .fade" role="alert">
                    <h4 class="alert-heading">
                        {{congrats}}
                        <span>{{message|trans}}</span>
                    </h4>
                </div>
            </button>
        </div>
    </div>
</div>
