<div classs="p-5 text-center text-color-maisonphilo mx-auto" id="alert" style="display:block">
  <div>
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">
      <div class="alert fade_{{ alert }} .fade" role="alert">
        <h4 class="alert-heading">
          <span>
            {% block alert_content %}
            {% endblock %}
          </span>
          <span>{{ message|trans }}</span>
        </h4>
      </div>
    </button>
  </div>
</div>
