<form id="confirm" method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="swalConfirm();" data-title="Want to delete this?" data-type="warning">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
   <div class="text-end">
        <button class="btn btn-outline-danger mt-3">
            {% trans %}Delete{% endtrans %}
        </button>
    </div>
</form>
