<form id="confirm" method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="swalConfirm();" data-title="Want to delete this?" data-type="warning">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="bg-transparent border-0">
        <i class="fas fa-trash text-danger fs-1"></i>
    </button>
</form>
