{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Product{% endtrans %}
{% endblock %}

{% block body %}
    {% embed "component/molecules/formDesign.html.twig" %}
        {% block form_content %}
            <h1>{% trans %}Create new Product{% endtrans %}</h1>
            {{ include('product/_form.html.twig') }}
            <a href="{{ path('app_product_index') }}">{% trans %}back to list{% endtrans %}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
