<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                {{webSiteName|trans}}
            {% endblock %}
        </title>
        {% include "component/atoms/head.html.twig" %}
        {% block stylesheet %}
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
            <link rel="stylesheet" href="{{asset('css/alert.css')}}">
        {% endblock %}

    </head>
    <body>
        {% include "component/organisms/navbarComponent.html.twig" with {
            routePath : 'app_dashboard_home',
        } %}
        <div class="container-fluid"> {% block body %}{% endblock %}
            {% block scripts %}
                {% include "component/atoms/script.html.twig" %}
            {% endblock %}
        </div>
        <footer>
            <div class="container-fluid">
                {% block footer %}
                    {% include "component/atoms/footer.html.twig" %}
                {% endblock %}
            </div>

        </footer>
    </body>
</html>
