<!DOCTYPE html>
<html>
    <head>
        <meta
        charset="UTF-8">
        {# Declaration of the title of my site #}
        <title>
            {% block title %}
                {{webSiteName|trans}}
            {% endblock %}
        </title>
        {% include "component/atoms/head.html.twig" %}
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        {% include "component/organisms/navbarComponent.html.twig" with {
            routePath : 'app_dashboard_home',
        } %}
        <div class="main container-fluid"> {% block body %}{% endblock %}
            {% block javascripts %}
                {% include "component/atoms/script.html.twig" %}
            {% endblock %}
        </div>
        {% block footer %}
            {% include "component/atoms/footer.html.twig" %}
        {% endblock %}
    </body>
</html>
