{% extends 'product_customer/layout.html.twig' %}
{% block title %}
    {% trans %}Product main page |{% endtrans %}{{ parent() }}
{% endblock %}
{% block body %}
    <h1>{% trans %}Page{% endtrans %}
        {{products.page|default('1')}}
    </h1>
    <div class="row justify-content-evenly">
        <div class="col-md-3 col-12 filter bg-light p-2">
            {% include "component/molecules/filter.html.twig" %}
        </div>
        <div class="col-md-9 col-12 row justify-content-evenly align-middle">
            <div class="justify-content-center">
                {% include "component/atoms/pagination.html.twig" %}
            </div>
            {% for product in products %}
                {% include "component/organisms/productShow.html.twig" %}
            {% endfor %}
            <div class="text-center">
                {% include "component/atoms/pagination.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}
