{% extends 'base.html.twig' %}
{% block title %}
	Accueil |
	{{ parent() }}
{% endblock %}
{% block body %}
	<h1 class" font-tangerine ">Bienvenue sur le site</h1>
	<div class="row container-fluid">
		<img class="img-fluid col-lg-8" src="{{asset('images/couple_agees2.jpg')}}" data-aos="fade-down-right" data-aos-duration="2000">
		<div class="col-lg-4">
			lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem loremlorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem
		</div>
	</div>
{% endblock %}
