{% extends "dashboard/layout.html.twig" %}
{% block body %}
<h1 class="text-site-or">{% trans %}Our vision{% endtrans %}</h1>
    <div class="row border border-success border-3 align-item-center text-center m-1 bg-vision">
        <div class="col-md-3 col-12 align-items-center justify-content-center d-flex mb-3">
            <div class="fs-2 text-maisonphilo fw-bold">
                <span class="fs-2 text-maisonphilo">
                    {% trans %}Contribuer au{% endtrans %}
                    <span class="fs-1 d-block text-site-or">
                        {% trans %}Bien Vieillir en Afrique{% endtrans %}
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-9 col-12 bg-light">
            <p>
                <span class="fs-4 text-site-or fw-bold">
                    {% trans %}
                    L’Afrique n’échappe pas au phénomène de vieillissement de la population.
                    {% endtrans %}
                </span>
                <span class="fs-4 d-block">
                    {% trans %}
                    La prise en charge de nos ainés dont le nombre est appelé à augmenter doit être pensée pour préparer dès aujourd’hui les conditions du Bien vieillir en Afrique des séniors de demain.{% endtrans %}
                </span>
            </p>
            <hr>
            <p>
                <span class="fs-4 text-site-or fw-bold">
                    {% trans %}
                    La prise en charge des personnes âgées
                    {% endtrans %}
                </span>
                <span class="fs-4">
                    {% trans %}
                    dans les pays africains ne doit pas se réduire à une recopie de solutions qui ont pu fonctionner (ou pas d’ailleurs) sous d’autres cieux. Elle
                    {% endtrans %}
                </span>
                <span class="fs-4 text-site-or fw-bold">
                    {% trans %}
                    doit être pensée de manière méthodique et prendre en compte nos réalités locales, nos traditions.
                    {% endtrans %}
                </span>
            </p>
            <hr>
            <p>
                <span class="fs-4 text-site-or fw-bold">
                    {% trans %}
                    Le sujet de la place des personnes âgées doit devenir un thème de société
                    {% endtrans %}
                </span>
                <span class="fs-4 d-block">{% trans %}
                    pour que les mentalités se préparent et évoluent afin d’envisager plus sereinement toutes les options permettant un Bien Vieillir.
                    {% endtrans %}
                </span>
            </p>
        </div>
    </div>
{% endblock %}
