{% extends "dashboard/layout.html.twig" %}
{% block body %}
    <div class="row border border-success border-3 align-item-center text-center">
        <div class="col-md-3 col-12 bg-vision">
            <span class="fs-2 text-maisonphilo d-block">
                {% trans %}Contribuer au{% endtrans %}
            </span>
            <em class="fs-1 d-block">
                {% trans %}Bien Vieillir en Afrique{% endtrans %}
            </em>
        </div>
        <div class="col-md-9 col-12 bg-light">
            <p>
                <em class="fs-4">
                    {% trans %}
                    L’Afrique n’échappe pas au phénomène de vieillissement de la population.
                    {% endtrans %}
                </em>
                <span class="fs-3 d-block">
                    {% trans %}
                    La prise en charge de nos ainés dont le nombre est appelé à augmenter doit être pensée pour préparer dès aujourd’hui les conditions du Bien vieillir en Afrique des séniors de demain.{% endtrans %}
                </span>
            </p>
            <hr>
            <p>
                <em class="fs-4">
                    {% trans %}
                    La prise en charge des personnes âgées
                    {% endtrans %}
                </em>
                <span class="fs-3">
                    {% trans %}
                    dans les pays africains ne doit pas se réduire à un copier-coller de solutions qui ont pu fonctionner (ou pas d’ailleurs) sous d’autres cieux. Elle
                    {% endtrans %}
                </span>
                <em class="fs-4">
                    {% trans %}
                    doit être pensée de manière méthodique et prendre en compte nos réalités locales, nos traditions.
                    {% endtrans %}
                </em>
            </p>
            <hr>
            <p>
                <em class="fs-4">
                    {% trans %}
                    Le sujet de la place des personnes âgées doit devenir un thème de société
                    {% endtrans %}
                </em>
                <span class="fs-3 d-block">{% trans %}
                    pour que les mentalités se préparent et évoluent afin d’envisager plus sereinement toutes les options permettant un Bien Vieillir.
                    {% endtrans %}
                </span>
            </p>
        </div>
    </div>
{% endblock %}
